.blog-content {
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
    padding: 10px;
    margin: 20px auto;
}
.blog a {
    text-decoration: none;
    color: black;
}
.blog-content img {
    width: 128px;
    height: 128px;
    
}
.blog-data {
    height: auto;
    margin: auto 10px;
    padding: 5px 20px;
}