.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin: 10px;
        height: 70px;
    };
    .categories {
        display: flex;
        margin: 0px 20px;
    }
    .categories a, span {
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: 500;
        margin: 10px;
    }
    .categories span:hover {
        cursor: pointer;
    }
}
